body{
    background-color:black ;

}
.signin{
    color:white;
 
}


.register{
    justify-content: center;
    text-align: center;
}
.input{
    width:390px;
    height:40px;
    background-color:black;
    color:white;

}

button{
    color:white;
    background-color: rgb(21, 118, 209);
    width:400px;
    height:50px;

}

h4{
    color:rgb(26, 164, 250);
    margin-right: 30px;
}

.send{
    margin-right: 20px;

}

.ma1,.ma2{
    margin-left: 450px;
    margin-right: 450px;

}